- title '首頁'
- @pageclass ='init'
/!- description ''

div#index_main role="main" class="ui-content" 
	.bg-content
		.bg-wrap
			=image_tag('bg.jpg', :id => 'bg')
	
javascript:
	$(document).on('pageshow','.init',function(e,data){  
		$.mobile.changePage("#{@url}", { transition: "fade"});
	});

sass:
	.init .ui-content
		width: 100%
		padding: 0	