// Base theme of document

@import "jquery.mobile"
@import "compass/css3"

.header
	background-image: image-url('title-texture.jpg')
	background-size: contain
	height: auto
	text-align: center
	img
		width: 100%
		max-width: 200px
.ui-header .ui-btn, .ui-header .ui-icon, .ui-header .ui-btn-inner
	margin-top: 15px
.main
	width: 100%
	h3
		text-align: center
	#error_message
		text-align: center
		b
			color: red
	#info_message
		text-align: center
		
@media all and (min-width: 36em)
	.ui-grid-a, .ui-content
		width: 70%
		max-width: 500px
		margin: 0 auto
	.ui-header .ui-btn, .ui-header .ui-icon, .ui-header .ui-btn-inner
		margin-right: 20px
	#user_bar
		position: absolute
		right: 100px
		top: 7px
		color: #fff
		text-shadow: 1px 1px 1px #333