- @pageclass = 'borrowpage borrowpage'+action_name

h2 =content_for(:title)

=yield

#calendar

ul#addButton class="mfb-component--br mfb-slidein" data-mfb-hover=false
	li class="mfb-component__wrap"
        a href='#popupDialog-#{action_name}' class="mfb-component__button--main" data-rel="popup" data-position-to="window"
        	i class="mfb-component__main-icon--resting fa fa-plus"

div data-role="popup" id="popupDialog-#{action_name}" data-transition="pop"  data-history="false"
	= form_tag({:controller => 'sessions', :action => 'borrow', :type => action_name }, remote: true, id: "formCalendar")
		div style="padding:10px 20px;"
			= yield :dialog
			a href="#" class="ui-btn ui-corner-all ui-shadow" date-role="button" data-rel="back" 取消

div data-role="popup" id="popupEvent-#{action_name}" data-transition="pop"  data-history="false"
	= yield :eventdialog
	p id="#{action_name}-dialog-start"
	p id="#{action_name}-dialog-end"

javascript:
	$(document).on('pageshow', '.borrowpage#{action_name}', function(e, data){
		$('.borrowpage#{action_name} #calendar').fullCalendar({
			editable: false, //Don't allow editing of events
			events: '/getevent/#{action_name}',
			defaultView: '#{@view}', //Only show week view
			handleWindowResize: true,
			nowIndicator: true,
			allDaySlot: false,
			titleFormat: {
				month: 'YYYY/MM',
				week: 'YYYY/MM/DD', 
				day: 'YYYY/MM/DD dddd'
			},
			columnFormat: {
			    week: 'ddd' // Only show day of the week names
			},
			minTime: '08:00:00', // Start time for the calendar
			maxTime: '22:00:00', //End time for the calendar
			displayEventTime: true, // Display event time
			height: 'auto',
			dayClick: function(date, jsEvent, view) {
				$(".input-date").val(date.format('YYYY-MM-DD'));
				$("#input-starttime").val(date.format('HH:mm'));
				$("#input-endtime").val(date.add(1, 'h').format('HH:mm'));

				$('#popupDialog-#{action_name}').popup('open');
			},
			eventClick: function(calEvent, jsEvent, view){
				console.log("event");
			}
		});

		datetime = $('#calendar').fullCalendar('getDate');

		$(".input-date").val(datetime.format('YYYY-MM-DD'));
		$("#input-starttime").val(datetime.format('HH:mm'));
		$("#input-endtime").val(datetime.add(1, 'h').format('HH:mm'));

		$('#formCalendar').submit(function(){
			$('#popupDialog-#{action_name}').popup("close");
		});
	});


sass:
	.borrowpage
		h2
			text-align: center
			line-height: 1em	
		i
			color: #fff
		.ui-grid-a
			width: 90%
		.ui-input-text
			width: 200px
			box-shadow: none
			border-width: 0px
			border-radius: 0
			border-bottom-width: 1px
		div.fc-row.fc-widget-header
	  		border-bottom: 1px solid #aaa
	  	.fc-unthemed td
	  		border-color: #eee
	  	.fc-axis
	  		border-right: 1px solid #aaa !important
		.fc-left h2
			margin: 7px 0
			padding-left: 10px
			font-size: 16px
			font-weight: 500
		div.fc-time, div.fc-title, span.fc-time, span.fc-title
			color: #fff
			text-shadow: none
			font-weight: 300